<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="../css/path.css">
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<% include ../partials/menu.ejs %>
	<div id="fixed_content">
		<div id="header">
			<div id="header_title">
				<h1><%= path.name %></h1>
			</div>
		</div>
		<div id="progression">
			<h4>Avancement : <span id="progression_percentage">0</span> %</h4>
			<div id="visual_progression">
				<div id="visuel_progress"></div>
			</div>
		</div>
		<div id="position">
			<div id="legend">
				<h4>Légende</h4>
				<div>
					<img src="../img/red_pin.png">
					<span>: Ta dernière position enregistrée ZDGDSQSDGQSD GQSDGQSGQSDfhfd dfdf</span>
				</div>
				<div>
					<img src="../img/grey_pin.png">
					<span>: Lieux à visiter</span>
				</div>
				<div>
					<img src="../img/yellow_pin.png">
					<span>: Autres détectives</span>
				</div>
			</div>
			<div id="postion_update" onclick="checkPosition()"><span id="position_content">Vérifier ma position</span></div>
		</div>
		<div id="map"></div>
	</div>


	<div id="main_content" style="top:30px;">
		<img src="../img/close.png" id="close_content" onclick="closeContent();">
		<div id="current_content">
			<h4 id="content_title"><%= path.name %></h4>
			<div id="content_description"><%- path.init_content %></div>
			<div id="content_media"></div>
			<div id="content_password">
				<p>Tu as trouvé la solution ?</p>
				<p style="padding-left: 1px;text-align: center;">
					<input type="text" id="password_input">
					<input type="submit" value="Envoyer" placeholder="Mot de passe" onclick="passwordSubmit()">
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var successContent = "<%- path.win_content %>";
		var path_id = "<%- path.id %>";
		var path_name = "<%= path.name %>";

		var objects = [];
		var initial_objects = [];
		var temp_init_obj = "<%- path.give_objects %>";
		if(temp_init_obj.length > 0){
			initial_objects = temp_init_obj.split(",");
		}
		function htmlDecode(input){
			var e = document.createElement('div');
			e.innerHTML = input;
			return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
		}
	</script>
	<div id="objects">
		<div id="objects_title">Objets</div>
		<div id="objects_container">
			<div id="objects_list">
				<% var object_client_id=0 %>
				<% objects.forEach(function(obj) { %>
					<% include ../partials/object_item.ejs obj %>
						<script type="text/javascript">
							var current_obj = JSON.parse(htmlDecode("<%= JSON.stringify(obj) %>"));
							current_obj.is_visible = false ;
							if(initial_objects.indexOf(current_obj.id.toString())!=-1){
								current_obj.is_visible = true ;
								document.querySelector(".object[object_id='"+current_obj.id+"']").style.width = "75px";
								document.querySelector(".object[object_id='"+current_obj.id+"']").style.display = "inherit";
							}
							current_obj.foundin = [];
							current_obj.type = "o";
							current_obj.client_id = <%- object_client_id %> - 1;
							objects.push(current_obj);
						</script>
				<% }); %>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var path_lat = <%- path.latitude %>;
		var path_long = <%- path.longitude %>;
		var total_steps = <%- path.total_steps || 43 %>;
	</script>
	<script type="text/javascript" src="../scripts/path.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk-e2vIralT717kd6wbv2_gpcSbGyByxM&callback=mapReady" async defer></script>
	<script type="text/javascript">
		var initial_place = "<%- path.open_places %>";
		if(initial_place.length > 0){
			var array_places = initial_place.split(",");
			for(var i=0;i<array_places.length;i++){
				openPlace(array_places[i]);
			}
		}
	</script>
</body>
</html>